.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tabFirst {
  width: 50%;
  color: rgb(156, 156, 156);
  background-color: rgba(36, 36, 38, 1);
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  height: 56px;
  padding-left: 17%;
  border: solid 2px rgba(50, 53, 55, 1);
  border-right: none;
  border-radius: 10px 0px 0px 10px;
}
.tabFirst:hover {
  color: rgb(255, 255, 255);
}

.tabFirst:disabled {
  color: #8d8e97;
  background-color: #e8e8e8;
}
.tabSecond {
  width: 50%;

  color: rgb(156, 156, 156);
  background-color: rgba(36, 36, 38, 1);
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  height: 56px;
  padding-left: 17%;
  border: solid 2px rgba(50, 53, 55, 1);

  border-radius: 0px 10px 10px 0px;
}
.tabSecond:hover {
  color: rgb(255, 255, 255);
}
.tabSecond:disabled {
  color: #8d8e97;
  background-color: #e8e8e8;
}
