.componentRegistrationForm {
  background-color: rgba(36, 36, 38, 1);
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.bottonRegistrationForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title {
  color: rgba(255, 255, 255, 1);
  margin-top: 15px;
}
.RegistrationForm {
  margin: 50px 30px 0px 30px;
}
.signatureUnderTheButton {
  color: rgb(176, 173, 173);
}
