.postCard {
  display: flex;
  flex-direction: column;
  width: 13vw;
  position: relative;
}
.cardImage {
  border-radius: 20px;
  height: 35vh;
}
.filmName {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.filmName--dark {
  color: aliceblue;
}
.filmName--light {
  color: rgb(0, 0, 0);
}
.filmName:hover {
  color: rgba(123, 97, 255, 1);
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.filmGenre {
  color: rgba(175, 178, 182, 1);
  text-align: left;
}
.rating {
  position: absolute;
  left: 15px;
  top: 10px;
  color: white;
  background-color: rgba(0, 163, 64, 1);
  padding: 3px;
  border-radius: 5px;
}
