body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Icon/BDBP8.jpg");
}
.resetPasswordConfirmPage {
  position: relative;
}
.resetPasswordConfirmPageForm {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, 50%);
  width: 30%;
}
.resetPasswordConfirmLogo {
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;
}
