.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 30px;
}

@media (max-width: 1920px) {
  .userComponentInNavBar {
    width: 13%;
    margin-right: 3%;
  }
  .searhCompanentInNavBar {
    width: 81%;
  }
}

@media (max-width: 768px) {
  .userComponentInNavBar {
    display: none;
  }
  .searhCompanentInNavBar {
    width: 100%;
  }
}
