.leftPanel {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 15vw;
  margin-left: 35px;
}
.linksInLeftPanel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 1%;
  background-color: inherit;
  height: 250px;
}
.logoLeftPanel {
  margin-top: 45px;
}
